<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>SWOT analysis info</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/start_page.css" %}">
</head>
<body>
<div class="info">
    <h1>Что такое количественный SWOT-анализ?</h1>
    <p class="intro"><span>Количественный SWOT-анализ</span> — методика проведения анализа стратегической ситуации в
        компании,
        в основе которой лежит математическая оценка показателей внутренних и внешних факторов, оказывающих влияние
        на организацию, с учетом их синергизма и вероятности их наличия в стратегической перспективе.
    </p>
    <h4>
        Этапы проведения количественного SWOT-анализа:</h4>
    <p class="intro">1. Оценка значимости внутренних (сильные и слабые стороны) и внутренних (возможности и угрозы) факторов рассматриваемой среды.</p>
    <p class="intro">2. Учет стратегического синергизма между сильными и слабыми сторонами.</p>
    <p class="intro">3. Учет стратегического синергизма между возможностями и угрозами.</p>
    <p class="intro">4. Учет вероятности наличия рассматриваемых возможностей и угроз в стратегической перспективе.</p>
    <p class="intro">5. Оценка степени влияния сильных и слабых сторон организации на реализацию имеющихся
        возможностей и преодоление угроз.</p>
    <form method="get" action="/input_form">
        <button id="start_btn" class="submit_btn">НАЧАТЬ</button>
    </form>
</div>
</body>
</html>