<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Perform Quantitative SWOT Analysis</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/main_style.css" %}">
</head>
<body>
<h1>Шаг 4. Оцените вероятность наличия возможностей и угроз в стратегической перспективе</h1>
<h4>Подсказка:</h4>
<p class="intro">— наличие угроз и возможностей в будущем не гарантировано, а только вероятно, поэтому возникает необходимость
    оценки вероятностей наличия выявленных возможностей и угроз в стратегической перспективе;</p>
<p class="intro">— коэффициент вероятности определяется по шкале от 0 до 1.0 с шагом 0.1 — чем выше вероятность возникновения фактора, тем выше оценка.</p>
{% load custom_tags %}
<form method="get" action="/page5">
    <table id="synergy_matrix">
        <tr>
            <td class="header">Характеристика фактора</td>
            <td class="header">Оценка значимости фактора с учетом синергии</td>
            <td class="header">Вероятность наличия фактора в стратегической перспективе</td>
            <td class="header">Оценка значимости фактора с учетом вероятности</td>
        </tr>
        {% for key in weights %}
            <tr>
                <td class="factor">{{ key }}</td>
                <td>{{ sums|list_index:forloop.counter0 }}</td>
                <td>{{ possibilities|list_index:forloop.counter0 }}</td>
                <td>{{ pos_eval|list_index:forloop.counter0 }}</td>
            </tr>
        {% endfor %}
    </table>
    <div>
        <input class="submit_btn" name="finish" type="submit" value="ДАЛЕЕ">
    </div>
</form>
</body>
</html>